  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @font-face {
    font-family: 'Barlow';
    src: url(fonts/Barlow-Black.ttf) format(Truetype);
  }

  body {
    background-color: #0b0423;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }